.animation {
  display: block;
  position: absolute;
  min-width: calc(100vw - 100px);
  min-height: calc(100vh - 100px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $color-bright;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

  canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
